* {
  margin: 0;
}

.title {
  color: #ebeced;
  font-size: 22pt;
  font-family: monospace;
  margin: 0;
  padding-left: 10px;
}

.nav-item {
  padding: 0 18px;
}

.intro-container {
  background-image: url("images/intro-background.jpg");
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.summary-box {
  width: 65%;
  height: auto;
  background-color: black;
  border: 5px solid white;
  border-radius: 25px;
  margin: 85px 0;
}

.img-branden {
  border-radius: 100%;
  border: 5px dashed gainsboro;
  width: 40%;
  height: auto;
  float: left;
  margin: 10px;
  shape-outside: circle();
}

.summary-box p {
  color: white;
  font-family: monospace;
  font-size: 16pt;
  padding-top: 10px;
}

.name {
  color: aqua;
}

.summary-box p a {
  text-decoration: none;
  transition: color 0.5s;
  color: aqua;
}

.summary-box p a:hover {
  transition: 0.5s;
  color: orange;
  text-decoration: underline;
}

.languages-container {
  background-color: gold;
  height: 400px;
  padding-bottom: 50px;
  text-align: center;
}

.languages-container h1 {
  padding-top: 10px;
  font-family: monospace;
  font-size: 30pt;
}

.language-carousel {
  height: 300px;
  width: 100%;
  background-color: black;
}

.language-logo {
  margin: 70px 0 40px;
  height: 120px;
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 10;
}
